body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 20px;
}

.myFooterText{
  text-decoration: none;
}

#supportHero{
  background-color: rgb(73, 151, 239);
  color: white;
}

#supportHero a{
   color:white;
}

#supportHero input{
  padding: 20px 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}